body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    height: 50px;
    background-color: #1c095a;
    color: #fff;
    padding: 10px;
}

nav {
    float: left;
    width: 150px;
    height: calc(100vh - 50px); 
    background-color: rgb(223, 231, 236);
    padding: 20px;
}

nav ul {
    list-style-type: none;
   
}
nav ul a{
    text-decoration: none;
    color: rgb(36, 8, 150);
}

nav ul li {
    margin-bottom: 10px;
}

main {
    margin-left: 220px; 
    padding: 30px;
}

footer {
    clear: both;
    background-color: #1c095a;
    color: #fff;
    padding: 10px;
    text-align: center;
}
